<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigations.ejs') %>

    <% if (errorMessages.length > 0) { %>
    <div class="alert alert-danger text-center" role="alert">
        <%= errorMessages %>
    </div>
    <% } %>
    <% if(valid){ %>
    <form action="/auth/post-new-password" method="post">
        <div class="w-50 ms-auto me-auto mt-5">
            <div class="mb-3">
                <input autofocus class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="token" value="<%= token %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div class="text-center">
                <button class="btn btn-primary " type="submit">Change Password</button>
            </div>
            <br>
        </div>
    </form>
    <% } %>
</body>

</html>