<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigations.ejs') %>

    <% if (errorMessages.length > 0) { %>
    <div class="alert alert-danger text-center" role="alert">
        <%= errorMessages %>
    </div>
    <% } %>
    
    <% if (successMessage.length > 0) { %>
        <div class="alert alert-info text-center" role="alert">
                <%= successMessage %>
        </div>
        <% } %>


    <form action="/auth/post-reset-password" method="post">
        <div class="w-50 ms-auto me-auto mt-5">
            <div class="mb-3">
                <input autofocus class="form-control" name="email" placeholder="Enter Your Email" type="email">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="text-center">
                <button class="btn btn-primary " type="submit">Reset Password</button>
            </div>
        </div>
    </form>

</body>

</html>